{include file="public/header" /}
<script src="/static/backend/other/main.js"></script>
<div class="container-wrap">
    <div class="container">
        <div class="contar-wrap" id="contar-wrap">
            <h4 class="item-title">
                <p><i class="layui-icon layui-icon-speaker"></i>公告：<span>欢迎光临！这是一个功能简单的网站首页</span></p>
            </h4>
        </div>
    </div>
</div>
<script>
    layui.use('flow', function () {
        var cid = {:input('get.cid')} + 0;
        var flow = layui.flow;
        flow.load({
            elem: '#contar-wrap' //流加载容器
            , scrollElem: '#contar-wrap' //滚动条所在元素，一般不用填，此处只是演示需要。
            , isAuto: false
            , isLazyimg: true
            , done: function (page, next) { //加载下一页
                $.ajax({
                    type: 'POST',
                    url: "/index/index",
                    data: {page: page, limit: 20 ,cid : cid},
                    dataType: 'json',
                    success: function (res) {
                        //数据插入
                        setTimeout(function () {
                            var lis = [];

                            for (var i = 0; i < res.data.length; i++) {
                                // lis.push('<li>'+res.data[i].title+'</li>')
                                lis.push('<div class="item"><div class="item-box  layer-photos-demo2 layer-photos-demo"><h3><a href="/index/index/details?id=' + res.data[i].id + '">' + res.data[i].title + '</a></h3><h5>发布于：<span>' + res.data[i].createtime + '</span></h5><p>' + res.data[i].desc + '</p><img src="' + res.data[i].pic + '" alt="" style="width:120px;height:80px;"></div><div class="comment count"><a href="javascript:;">阅读量（' + res.data[i].views + '）</a><a href="/index/index/details?id=' + res.data[i].id + '" class="like">详情</a></div></div>')
                            }
                            var nn = (res.count) / 2;
                            next(lis.join(''), page < nn);
                        }, 500);
                    },
                    error: function (res) {
                        alert('系统繁忙，请重试！');
                        return false;
                    }
                });

            }
        });
    });
</script>
{include file="public/footer" /}