<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>三言两语</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/static/backend/layuiadmin/layui/css/layui.css" media="all">
    <script type="text/javascript" src="/static/backend/other/jquery.min.js"></script>
    <script src="/static/backend/layuiadmin/layui/layui.js"></script>
    <link rel="stylesheet" href="/static/web/css/mian.css">
    <link rel="stylesheet" href="/static/web/js/blog.js">
    <link rel="Shortcut Icon" href="/uploads/logo/20180819\2b792e1d68330069dd6abae56001c735.png"/>
</head>
<body class="lay-blog">
<div class="header">
    <div class="header-wrap">
        <h1 class="logo pull-left">
            <a href="/index/index.html" style="color:#fff;">
                <img src="/uploads/logo/20180819\2b792e1d68330069dd6abae56001c735.png" alt="" class="logo-img">
                三言两语 </a>
        </h1>

        <div class="blog-nav pull-right">
            <a href="/admin/index/index" target="_blank">
                <i class="layui-icon layui-icon-release" title="管理后台"></i>
            </a>
        </div>

    </div>


</div>