<!DOCTYPE html>
<html lang="en">
<head>
    <link href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    {$data.head|raw}
</head>
<body>
<div class="site_common_head">
    <div class="site_head" id="new_vs_header">
        <div class="head_line"><div class="inner"></div></div>
        <div class="head_inner">
            <h1 class="site_logo" style="float: left;font-size: 2em;padding-top: 0px;">
                三言两语
            </h1>
            <div class="filter_list" style="float: left;margin-left: 50px;margin-top: 20px;">

                <a href="/index/vedio/vedio" class="filter_item current open" _stat2="filter:channel|电影">电影</a>

                <a href="/index/vedio/vedio" class="filter_item" _stat2="filter:channel|电视剧">电视剧</a>

                <a href="/index/vedio/vedio" class="filter_item" _stat2="filter:channel|综艺">综艺</a>

                <a href="/index/vedio/vedio" class="filter_item" _stat2="filter:channel|动漫">动漫</a>

                <a href="/index/vedio/index" class="filter_item" _stat2="filter:channel|动漫">VIP视频</a>


            </div>

        </div>
    </div>
</div>