<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
        <div class="pull-left image">
            <a href="{:url('general/profile')}" class="addtabsit">
                <img src="{$admin.avatar|default='/assets/img/avatar.png'}" class="img-circle" alt="User Image">
            </a>
        </div>
        <div class="pull-left info">
            <p>{$admin.nickname}</p>
            <i class="fa fa-circle text-success"></i> 在线
        </div>
    </div>
    <!-- search form -->
    <form action="" method="get" class="sidebar-form" onsubmit="return false;">
        <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="搜索菜单">
            <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                    <i class="fa fa-search"></i>
                </button>
            </span>
            <div class="menuresult list-group sidebar-form hide">
            </div>
        </div>
    </form>
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
        {$menulist|raw}
    </ul>
</section>
<!-- /.sidebar -->